* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

$blue: #0E79B2;
$darkblue: darken(#0E79B2, 10%);
$grey: #FBFEF5;
$darkgrey: darken(#FBFEF5, 5%);
$text-grey: lighten(black, 50%);

body {
  background-color: $blue;
}

.container {
  width: 600px;
  margin: 25px auto;
  padding: 25px 3%;
  background-color: $grey;
}

.shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
  box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
}

.in-shadow {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(153,153,153,1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(153,153,153,1);
  box-shadow: 0px 0px 3px 1px rgba(153,153,153,1);
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid $blue 2px;
  border-radius: 3px;
  padding: 30px;
  label {
    margin: 3px 0;
    color: $text-grey;
  }
  input, textarea {
    outline: none;
    border: solid 2px #E5E5E5;
  }
  input {
    border-left: solid 4px $darkblue;
    height: 30px;
    padding: 0 5px;
  }
  textarea {
    border-left: solid 4px $darkblue;
    height: 150px;
    margin-bottom: 5px;
    padding: 5px 5px;
    resize: none;
  }
  button {
    margin: 5px 0 0 0;
    width: 135px;
    height: 55px;
    color: white;
    background-color: purple;
    border: none;
    border-radius: 5px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
      -moz-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
      box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s, -moz-box-shadow 0.2s;
    &:hover {
      -webkit-box-shadow: 0px 0px 15px 0px #f42C04;
      -moz-box-shadow: 0px 0px 15px 0px #f42C04;
      box-shadow: 0px 0px 15px 0px #f42C04;
    }
  }
}

.hidden {
  display: none;
}

.error-border {
  border-left: solid 4px red;
}

.red {
  color: red;
}


.messages {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding: 0;
  .message-item {
    border: solid black 1px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 10px 10px;
    padding: 5px;
    border: solid 1px $blue;
    background-color: $darkgrey;
    .info {
      border: solid $darkblue 1px;
      border-radius: 3px;
      display: flex;
      justify-content: space-between;
      font-size: 0.8em;
      background-color: white;
    }
    .sender {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      letter-spacing: 0.03em;
      margin: 0 2.5%;
      .t {
        margin: 5px 0;
        color: $text-grey;
      }
      .b {
        font-size: 1.2em;
      }
    }
    .contact-info {
      letter-spacing: 0.03em;
      margin: 0 40px;
      color: lighten(black, 40%);
      .email {
        display: flex;
        justify-content: flex-end;
        margin: 0 0 10px 0;
      }
      .website {
        margin: 10px 0 5px 0;
      }
    }

    .message {
      font-size: 0.8em;
      letter-spacing: 0.03em;
      margin: 10px 0;
      padding: 10px 10px;
      background-color: white;
      border: solid 1px $blue;
      border-radius: 3px;
    }

    i {
      position: absolute;
      right: 10px;
      top: 10px;
      color: black;
      transition: color 0.3s;
      font-size: 1.3em;
    }
    .fa-trash-o:hover {
      color: purple;
    } 
  }
}



