* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  width: 600px;
  margin: 25px auto;
  padding: 25px 3%;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  label {
    margin: 3px 0;
  }
  input, textarea {
    outline: none;
    border: solid 2px #E5E5E5;
  }
  input {
    border-left: solid 4px black;
    height: 30px;
    padding: 0 5px;
  }
  textarea {
    border-left: solid 4px black;
    height: 150px;
    margin-bottom: 5px;
  }
  button {
    margin: 5px 0 0 0;
    width: 135px;
    height: 55px;
    color: white;
    background-color: #88C470;
    border: none;
  }
}

.hidden {
  display: none;
}

.error-border {
  border-left: solid 4px red;
}

.red {
  color: red;
}


.messages {
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  .message-item {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    margin: 10px auto;
    .info {
      border: solid black 1px;
      display: flex;
      justify-content: space-between;
      font-size: 0.8em;
    }
    .sender {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      letter-spacing: 0.03em;
      margin: 0 2.5%;
      .t {
        margin: 5px 0;
        color: lighten(black, 40%);
      }
      .b {
        font-size: 1.2em;
      }
    }
    .contact-info {
      letter-spacing: 0.03em;
      margin: 0 40px;
      color: lighten(black, 40%);
      .email {
        display: flex;
        justify-content: flex-end;
        margin: 0 0 10px 0;
      }
      .website {
        margin: 10px 0 5px 0;
      }
    }

    .message {
      font-size: 0.8em;
      letter-spacing: 0.03em;
      margin: 20px 2.5%;
    }

    i {
      position: absolute;
      right: 10px;
      top: 10px;
      color: black;
      transition: color 0.2s
    }
    .fa-trash-o:hover {
      color: red;
    } 
  }
}



